header{
	height: 50px;
	background-color: #ffdddd;
}
#wrapper{
	height: 100px;
	display: flex;
	justify-content: space-between;
}
#main{
	width: 60%;
	background-color: #ddffdd;
}
aside{
	width: 30%;
	background-color: #ffddff;
}
footer{
	height: 50px;
	background-color: #ddddff;
}